<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>s1_user_check</servlet-name>
        <servlet-class>a_general_package.s1_user_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_verify_new_acc</servlet-name>
        <servlet-class>a_general_package.s1_verify_new_acc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_login_check</servlet-name>
        <servlet-class>a_general_package.s1_login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_next_signup</servlet-name>
        <servlet-class>a_general_package.s1_next_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1_s_signup</servlet-name>
        <servlet-class>a_general_package.s1_s_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_approve_request</servlet-name>
        <servlet-class>a_general_package.s2_approve_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2_log_out</servlet-name>
        <servlet-class>a_general_package.s2_log_out</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1_user_check</servlet-name>
        <url-pattern>/s1_user_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_verify_new_acc</servlet-name>
        <url-pattern>/s1_verify_new_acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_login_check</servlet-name>
        <url-pattern>/s1_login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_next_signup</servlet-name>
        <url-pattern>/s1_next_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1_s_signup</servlet-name>
        <url-pattern>/s1_s_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_approve_request</servlet-name>
        <url-pattern>/s2_approve_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2_log_out</servlet-name>
        <url-pattern>/s2_log_out</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>j1_home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
